<a href="https://colab.research.google.com/github/TrollDudz/PROVA-KADIDIJA/blob/main/Empregos_D3_EduardoFilipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Criando o DataFrame com dados de exemplo
data = {
    'Nome': ['João', 'Maria', 'Pedro', 'Ana', 'Lucas'],
    'Idade': [25, 30, 22, 28, 35],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Brasília', 'Curitiba'],
    'Profissão': ['Engenheiro', 'Médica', 'Designer', 'Advogada', 'Arquiteto'],
    'Salário': [7000, 12000, 4500, 8500, 9000],
    'Empresa': ['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D', 'Empresa E']
}

**QUESTÃO 1**

In [6]:
df = pd.DataFrame(data)

# 1. Exibir toda a base de dados
print("Toda a base de dados:")
print(df)

Toda a base de dados:
    Nome  Idade          Cidade   Profissão  Salário    Empresa
0   João     25       São Paulo  Engenheiro     7000  Empresa A
1  Maria     30  Rio de Janeiro      Médica    12000  Empresa B
2  Pedro     22  Belo Horizonte    Designer     4500  Empresa C
3    Ana     28        Brasília    Advogada     8500  Empresa D
4  Lucas     35        Curitiba   Arquiteto     9000  Empresa E

***QUESTÃO 2***

In [7]:
# 2. Apresentar o tamanho do DataFrame (quantas colunas x linhas)
tamanho = df.shape
print(f"Tamanho do DataFrame: {tamanho[0]} linhas x {tamanho[1]} colunas")

Tamanho do DataFrame: 5 linhas x 6 colunas

**QUESTÃO 3**

In [8]:
# 3. Acessar e exibir a linha específica (x) com todas as características
linha_x = df.iloc[2]
print("Linha específica (x=2):")
print(linha_x)

Linha específica (x=2):
Nome                  Pedro
Idade                    22
Cidade       Belo Horizonte
Profissão          Designer
Salário                4500
Empresa           Empresa C
Name: 2, dtype: object

**QUESTÃO 4**

In [9]:
# 4. Verificar se o DataFrame está vazio
vazio = df.empty
print(f"O DataFrame está vazio? {vazio}")

O DataFrame está vazio? False

**QUESTÃO 5**

In [10]:
# 5. Apresentar os 5 primeiros registros da base de dados
print("Os 5 primeiros registros da base de dados:")
print(df.head())

Os 5 primeiros registros da base de dados:
    Nome  Idade          Cidade   Profissão  Salário    Empresa
0   João     25       São Paulo  Engenheiro     7000  Empresa A
1  Maria     30  Rio de Janeiro      Médica    12000  Empresa B
2  Pedro     22  Belo Horizonte    Designer     4500  Empresa C
3    Ana     28        Brasília    Advogada     8500  Empresa D
4  Lucas     35        Curitiba   Arquiteto     9000  Empresa E

**QUESTÃO 6**

In [11]:
# 6. Excluir um item (linha) de sua base de dados
df = df.drop(3)
print("DataFrame após excluir a linha 3:")
print(df)

DataFrame após excluir a linha 3:
    Nome  Idade          Cidade   Profissão  Salário    Empresa
0   João     25       São Paulo  Engenheiro     7000  Empresa A
1  Maria     30  Rio de Janeiro      Médica    12000  Empresa B
2  Pedro     22  Belo Horizonte    Designer     4500  Empresa C
4  Lucas     35        Curitiba   Arquiteto     9000  Empresa E

**QUESTÃO 7**

In [12]:
# 7. Adicionar um item (linha) à base de dados
novo_item = pd.DataFrame({'Nome': ['Carlos'], 'Idade': [27], 'Cidade': ['Salvador'], 'Profissão': ['Engenheiro'], 'Salário': [7500], 'Empresa': ['Empresa F']})
df = pd.concat([df, novo_item], ignore_index=True)
print("DataFrame após adicionar um novo item:")
print(df)

DataFrame após adicionar um novo item:
     Nome  Idade          Cidade   Profissão  Salário    Empresa
0    João     25       São Paulo  Engenheiro     7000  Empresa A
1   Maria     30  Rio de Janeiro      Médica    12000  Empresa B
2   Pedro     22  Belo Horizonte    Designer     4500  Empresa C
3   Lucas     35        Curitiba   Arquiteto     9000  Empresa E
4  Carlos     27        Salvador  Engenheiro     7500  Empresa F

**QUESTÃO 8**

In [ ]:
# 8. Transpor a coluna para a linha
transposta = df['Nome'].transpose()
print("Coluna 'Nome' transposta para linha:")
print(transposta)

**QUESTÃO 9**

In [ ]:
# 9. Apresentar em tela somente a 1ª e a 2ª coluna (rótulo) da base de dados
print("Somente as colunas 1 e 2 (Nome e Idade):")
print(df[['Nome', 'Idade']])

**QUESTÃO 10**

In [1]:
# 10. Descrição de como o projeto foi desenvolvido
descricao = """
Este código foi feito usando a biblioteca python pandas para análise e manipulação de dados.
As seguintes tarefas foram feitas: um DataFrame foi criado, foi feita a exibição de dados, foram selecionadas certas colunas e linhas, foram verificadas certas condições e também a transposição de dados.
Eu usei alguns vídeos, slides e o chatgpt para auxilio e correção do meu código.
"""
print(descricao)

fpadase.